@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.exact-address-card {
  padding: 23px 16px;

  @include media-breakpoint-up(lg) {
    height: fit-content;
  }

  &__title {
    font-size: 17px;
    font-weight: 900;
    color: #373737;
  }

  .map {
    &__address {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.2px;
    }
  }
}
