@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.item-slider {
  position: relative;

  // modal
  .close {
    font-size: 20px;
  }
  // END modal

  .add-item-favorite {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20px;
    left: 20px;

    z-index: 2;
    
    width: 34px;
    height: 34px;
    border-radius: 4px;
    
    background: #F4F4F4;
    cursor: pointer;

    .iconLike {
      width: 17px;
      stroke-width: 30px;
      margin-bottom: -4px;
      margin-left: -2px;
    }

    &:hover {
      svg {
        fill: #F237D2;
        stroke: #F237D2;
      }
    }

    &.active {
      svg {
        fill: #F237D2;
        stroke: #F237D2;
      }
    }
  }

  .slider-for {
    .slide {
      height: 215px;
      border-radius: 5px;
      overflow: hidden;

      @include media-breakpoint-up(md) {
        height: 369px;
      }

      @include media-breakpoint-up(lg) {
        height: 469px;
      }

      img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        background-color: #ffffff;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          z-index: 1;
          display: flex;
          background-color: #EEEDED;
          background-image: url('../assets/no-image.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .icon-left-arrow.rotate-180 {
      transform: rotate(180deg);
    }

    .slick-arrow {
      font-size: 28px;
    }
  }

  .slider-nav {
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin: 10px;
    }

    .slick-slide {
      margin: 6px;

      @include media-breakpoint-up(lg) {
        margin: 12px;
      }
    }

    .slick-current {
      .dots {
        border: 3px solid #3FB465;
      }
    }

    .dots {
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      height: 39px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      border: 3px solid transparent;

      @include media-breakpoint-up(md) {
        height: 50px;
      }

      @include media-breakpoint-up(lg) {
        height: 81px;
      }

      img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        background-color: #ffffff;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          z-index: 1;
          display: flex;
          background-color: #EEEDED;
          background-image: url('../assets/no-image.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .dots-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      width: 35px;
      height: 21.98px;
      top: 37%;
      position: absolute;
      z-index: 1;
      font-size: 12px;
      color: #8C8C8C;

      @include media-breakpoint-down(lg) {
        display: none;
        visibility: hidden;
      }

      .icon-left-arrow.rotate-180 {
        transform: rotate(180deg);
      }
    }

    .dots-arrow-prev {
      left: 0;
    }

    .dots-arrow-next {
      right: 0;
    }
  }
}