@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.item-slider {

  .carousel-item {
    height: 408px;
    max-height: 408px;

    img {
      height: 100%;
    }

    @include media-breakpoint-up(lg) {
      height: 587px;
      max-height: 587px;
    }
  }

  .carousel-inner {
    border-radius: 8px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;

    i.rotate-180 {
      transform: rotate(180deg);
    }

    i {
      font-size: 35px;
      color: #ffffff;
    }
  }



  &__like {
    position: absolute;
    top: 25px;
    left: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;

    background: #f5f5f5;
    border-radius: 4px;

    cursor: pointer;

    z-index: 9;

    .like {
      margin-bottom: -4px;
      margin-left: -2px;
    }

    svg {
      width: 22px;
    }
  }
}