@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.property-about-item {

  &__short-description {
    span {
      font-size: 0.9em;

      @include media-breakpoint-up(lg) {
        font-size: 1.05em;
      }
    }
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
  }

  &__text.show {
    display: block;
  }

  i {
    color: #6a6a6a !important;
    font-size: 25px;

    @include media-breakpoint-up(lg) {
      font-size: 30px;
    }
  }
}