@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.modal-user-add-category {
  .modal-title {
    @include media-breakpoint-down(md) {
      white-space: nowrap;
      transform: translateX(6%);
    }
  }

  .modal-content {
    padding: 50px 60px 33px 60px;

    @include media-breakpoint-down(md) {
      padding: 75px 44px 35px 44px;
    }
  }

  button {
    height: 34px;

    @include media-breakpoint-up(md) {
      height: auto;
    }
  }

  .modal-header {
    position: relative;

    .modal-title {
      font-weight: 800;
      font-size: 25px;
      line-height: 34px;
      letter-spacing: 0.055em;
    }
    
    .close {
      position: absolute;
      font-size: 40px;
      font-weight: 300;
      line-height: 1rem;
      
      top: -40px;
      left: -35px;
      
      @include media-breakpoint-up(lg) {
        top: -21px;
        left: -23px;
      }
    }
  }
}