@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.modal {
  padding-right: 0 !important;

  .modal-body {
    padding: 28px 48px;

    @include media-breakpoint-down(md) {
      padding: 35px 23px;
    }
  }

  h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;

    padding-bottom: 16px;
    margin-bottom: 20px;
  }

  .form-group input {
    height: 48px;
    padding-top: 16px;
    padding-bottom: 18px;

    @include media-breakpoint-down(md) {
      height: 40px;
    }
  }

  .form-check-input {
    margin-top: 0.4rem;
    margin-left: -1.05rem;
  }

  .icon-google,
  .icon-facebook {
    max-width: 26px;
  }

  .btn-sand-register-form,
  .btn-sign-in {
    min-width: 200px;
    height: 54px;

    font-size: 18px;
    font-weight: 900;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
    }
  }

  .btn-sand-register-form {
    margin-top: 30px;
  }
}