@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

#itemMapFullSize {

  .modal-dialog {
    max-width: 930px;

    .modal-header {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      border-bottom: none;
      padding-right: 63px;

      .modal-title {
        font-weight: 800;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.085em;
      }

      .map-address {
        color: #000000;

        svg {
          width: 15px;
          fill: #747474;
        }
      }

      .close {
        margin: -1rem auto -1rem -1rem;
        padding: .5rem 1rem;

        span {
          font-size: 36px;
          font-weight: 400;
        }
      }

      @include media-breakpoint-down(md) {
        padding-right: 23px;
      }
    }

    .modal-body {
      height: 50vh;
      padding: 26px 63px 63px 63px;

      @include media-breakpoint-down(md) {
        padding: 26px 23px 63px 23px;
      }
    }
  }
}