.modal-log-in {
  .remeber-me {
    &__label {
      display: block;
      position: relative;
      top: 4px;
      width: 16px;
      height: 16px;
      border: 1px solid #ced4da;
      cursor: pointer;

      &:after {
        content: '';
        display: none;
        position: absolute;
        left: 4px;
        top: -2px;
        width: 8px;
        height: 13px;
        border: solid #3fb465;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }

  input:checked ~ .remeber-me__label:after {
    display: block;
  }

  .subtitle {
    letter-spacing: -0.8px;
  }
}