@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.propert-sell-main {
  position: relative;
  padding: 20px;

  @include media-breakpoint-up(lg) {
    padding: 30px;
  }

  .form_radio_btn label {
    overflow: hidden;

    @include media-breakpoint-down(md) {
      font-size: 12px;
      height: 29px;
    }
  }

  .form-control-select {
    @include media-breakpoint-down(md) {
      font-size: 12px;
      height: 45px;
    }
  }

  &__header {
    padding-bottom: 26px;
    margin-bottom: 38px;
  }

  &__step-control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      
      width: 240px;
      height: 48px;

      text-transform: uppercase;
      font-weight: bold;

      background: #898989;
      color: #ffffff;
      margin: 5px;

      @include media-breakpoint-up(lg) {
        width: 285px;
        height: 54px;
      }
    }

    .btn-icon {
      display: block;
      position: relative;
      top: -1px;

      font-size: 11px;
      margin-right: 5px;
      transform: rotate(180deg);
    }
  }
}

.step {
  &__icone {
    font-size: 40px;
    color: #bababa;
  }

  &.active {
    font-weight: 700;

    .step__title {
      font-weight: bold;
    }

    .step__subtitle {
      color: $light-green;
    }
  
    .step__icone {
      color: $light-green;
    }
  }

  &.completed {
    .step__subtitle {
      font-weight: bold;
      color: $light-green;
    }
  }
}
