@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.property-step-price {
  margin-bottom: 50px;

  input {
    width: 100%px;
    height: 29px;

    @include media-breakpoint-up(lg) {
      width: 200px;
      height: 64px;
    }
  }

  .dropdown.bootstrap-select {
    @include media-breakpoint-down(lg) {
      width: 80px !important;
    }
  }

  .property-step-price .form-control-select {
    width: 100px;
  }
}