@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.property.step-three {
  p {
    padding-top: 0;
  }

  .dropdown.bootstrap-select {
    .form-control-select {
      height: 29px;
    }
  }

  .full-size-btn {
    width: 100%;
    
    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  .text-before-ta {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $black;
  }

  label, input, select {
    width: auto;
    padding: 6px 8px;
    margin-bottom: 0;
    color: #5a5a5a;

    @include media-breakpoint-up(lg) {
      width: 150px;
    }
  }

  input::placeholder {
    color: #5a5a5a;
  }

  .floor-select {
    width: 25%;

    @include media-breakpoint-up(lg) {
      width: 150px;
    }
  }
}