@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.step-photos {
  .main-photo {
    color: #000000;
  }
 
  .element-control {
    cursor: pointer;

    i {
      font-size: 18px;

      @include media-breakpoint-up(lg) {
        top: 0;
        font-size: 12px;
      }
    }
  }

  .photo {
    max-width: 100%;
    max-height: 100%;

    width: 110.77px;
    height: 89.47px;

    border-radius: 8px;
    overflow: hidden;
    
    @include media-breakpoint-up(lg) {
      width: 156px;
      height: 126px;
      overflow: hidden;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .addPhotoOnMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 340px;
    height: 54px;
  }

  .label-add-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 108px;
    height: 87px;

    border: 3px dashed #C8C8C8;
    border-radius: 3px;

    cursor: pointer;

    i {
      font-size: 26px;
    }

    @include media-breakpoint-up(lg) {
      width: 156px;
      height: 126px;

      i {
        font-size: 37px;
      }
    }
  }
}