@import '../variables';

.palette {
  label {
    margin: 2% 1%;
    flex: 1 10%;
    display: flex;
  }

  input[type=radio] {
    &:checked + label {
      box-shadow: inset 0px 0px 1px 1px #33e56d;
      border-color: #33e56d;
    }
  }
}

.colour-element {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid $secondary;

  $yellow: #ffe600;
  $orange: #ffa200;
  $red: #f92400;
  $silver: #999999;
  $metalic: #e5e5e5;
  $white: #ffffff;
  $black: #000000;
  $sky: #4fadff;
  $blue: #102efe;
  $purple: #9f40ff;
  $brown: #926547;
  $crem: #f1d9b2;
  $burgundy: #c5172d;
  $candy: #efbe60;
  $gradient: conic-gradient(from 45deg, $candy, $red, $brown, $orange, $yellow, $green, $sky, $blue, $purple);

  &.colour-green {
    background-color: $primary;
  }
  &.colour-yellow {
    background-color: $yellow;
  }
  &.colour-orange {
    background-color: $orange;
  }
  &.colour-red {
    background-color: $red;
  }
  &.colour-silver {
    background-color: $silver;
  }
  &.colour-metalic {
    background-color: $metalic;
  }
  &.colour-white {
    background-color: $white;
  }
  &.colour-black {
    background-color: $black;
  }
  &.colour-sky {
    background-color: $sky;
  }
  &.colour-blue {
    background-color: $blue;
  }
  &.colour-purple {
    background-color: $purple;
  }
  &.colour-brown {
    background-color: $brown;
  }
  &.colour-crem {
    background-color: $crem;
  }
  &.colour-burgundy {
    background-color: $burgundy;
  }
  &.colour-candy {
    background-color: $candy;
  }
  &.colour-gradient {
    background: $gradient;
  }
}

.btn-extra-options {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border: none;
  height: 54px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}