@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.palette {
  label {
    margin: 2% 1%;
    display: flex;
  }

  input[type=radio] {
    &:checked + label {
      box-shadow: inset 0px 0px 1px 1px #33e56d;
      border-color: #33e56d;
    }
  }
}

.colour-element {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid $secondary;
}

.btn-extra-options {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border: none;
  height: 54px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}