@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.filter-closer {

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    color: inherit;
  }

  i.icon-clear {
    font-size: 13px;
    top: 0px;
  }
}