@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.filter {
  overflow: hidden;

  .btn-more-filter-settings {
    margin: -1.5rem;
    margin-top: 0;
    padding: 12px 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .menu-closer {
    display: flex;
    
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .form-control-select {
    height: auto;
  }

  .remoove-border-on-disctop {
    border-bottom: 1px solid #dee2e6;

    @include media-breakpoint-up(lg) {
      border-bottom: none;
    }
  }

  .show-all-categories-btn {
    &:hover {
      color: $primary;
    }
  }

  .show-more-categories {
    display: none;
  }

  @include media-breakpoint-between(xs, md) {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    min-width: 250px;
    width: 55%;
    height: 100vh;
    overflow-y: auto;

    &.visible {
      display: block;
    }
  }

  ul {
    padding-left: 0;
  
    li {
      list-style: none;
      line-height: 36px;

      span {
        cursor: pointer;
        
        &:hover {
          color: $primary;
        }
      }
    }

    & li:not(:last-child) {
      border-bottom: 1px dashed #c7c7c7;
    }
  }
  
  h4 {
    margin-bottom: 15px;

    letter-spacing: -1px;
    font-size: 18px;
  }

  .color-orange {
    color: $orange;
  }

  .color-gray {
    color: #cfcfcf;
  }

  .checkbox {
    margin-bottom: 20px;

    label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }

    input {
      display: none;
    }

    .cr {
      display: block;
      position: relative;
      top: 1px;
      width: 17px;
      height: 17px;
      border: 1px solid #ced4da;
      cursor: pointer;

      &:after {
        content: '';
        display: none;
        position: absolute;
        left: 5px;
        top: -2px;
        width: 8px;
        height: 13px;
        border: solid #3fb465;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }

    
    input:checked ~ .cr:after {
      display: block;
    }
  }
}

.filter-open, .menu-overlay {
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(84, 83, 83, 0.37);
    z-index: 2;
    height: 1000%;
  }
}