@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.condition {
  @include media-breakpoint-between(xs, md) {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    min-width: 250px;
    width: 55%;
    height: 100vh;
    overflow-y: auto;

    &.visible {
      display: block;
    }
  }

  ul {
    margin-bottom: 15px;

    padding-left: 0;
    padding-bottom: 15px;

    border-bottom: 1px solid #c7c7c7;
  
    li {
      list-style: none;
      line-height: 36px;

      span {
        cursor: pointer;
        
        &:hover {
          color: $primary;
        }
      }
    }

    & li:not(:last-child) {
      border-bottom: 1px dashed #c7c7c7;
    }
  }

  .brand-selection {
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  
  h4 {
    margin-bottom: 15px;

    letter-spacing: -1px;
    font-size: 18px;
  }

  .color-orange {
    color: $orange;
  }

  .color-gray {
    color: #cfcfcf;
  }

  .checkbox {
    margin-bottom: 20px;

    label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }

    input {
      display: none;
    }

    .cr {
      display: block;
      position: relative;
      top: 1px;
      width: 17px;
      height: 17px;
      border: 1px solid #ced4da;
      cursor: pointer;

      &:after {
        content: '';
        display: none;
        position: absolute;
        left: 5px;
        top: -2px;
        width: 8px;
        height: 13px;
        border: solid #3fb465;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }

    
    input:checked ~ .cr:after {
      display: block;
    }
  }
}

.filter-open {
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(84, 83, 83, 0.37);
    z-index: 2;
  }
}