.noUi-horizontal {
  height: 4px;
}
.noUi-connect {
  background: #46d976;
}

.noUi-target {
  background: #e1e1e1;
  border-radius: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3fb465;
  box-shadow: none;
  right: -13px;
  top: -8px;
  cursor: pointer;

  &::after,
  &::before {
    content: none;
  }
}