@import "../variables";

.logo {
  width: 100%;
  max-width: 180px;
}

.header-mobile {
  display: none;
  position: relative;

  .icon-arrow-down-sign-to-navigate-3 {
    font-size: 12px;
  }

  .your-add-btn {
    height: fit-content;

    font-weight: bold;
    font-size: 12px;
  }

  .active {
    border-bottom: 3px solid $primary;
    
    i {
      color: $primary;
    }
  }
}

.header-disktop {
  .dropdown-menu {
    left: -30px !important;
    min-width: 12rem;
    box-shadow: 4px 4px 29px -12px rgba(0, 0, 0, 0.24);

    .dropdown-item {
      line-height: 42px;
    }

    .dropdown-item:not(:last-child) {
      position: relative;

      &:after{
        content: '';
        position: absolute;
        height: 1px;
        background: #f3f3f3;
        bottom: 0;
        left: 10%;
        width: 80%;
      }
    }
  }
}

@media (max-width: 991px) {
  .header-disktop {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .logo {
    max-width: 125px;
  }
}

#mainNavMenuElement {
  &.active {
    border: #ffffff;
    border-radius: 8px 8px 0 0;

    background: #fff;
  }
}

.mobile-header-menu-element {
  width: 80px;
}

.mobile-header-nav-content {
  display: none;
  box-shadow: 1px 12px 30px -26px !important;

  i {
    font-size: 20px;
    color: #000000;
  }
  
  a {
    padding-left: 20px;
    line-height: 60px;
  }

  &.visible {
    display: flex;
    flex-direction: column;
    background-color: white; // TODO: from variables
    position: fixed;
    z-index: 100;
    top: 90px;
    left: 0;
    width: 100%;
  }
}
