@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.header-property-type-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../assets/property-header-bg.png");
  background-attachment: fixed;
  background-position-y: center;
  background-repeat: no-repeat;
  min-height: 208px;

  .nav {
    flex-wrap: nowrap;

    .nav-item {
      width: 100%;
      border: none;
      border-radius: 0;
      min-height: 47px;
      background: linear-gradient(270deg, #34a65a -4.39%, #3fb365 100%);
    }

    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: $white;
      padding: 0 10px;
      font-size: 10px;
    }

    .nav-link.active {
      color: $black;
      background: $white;
    }

    .nav-item.radius-top-right {
      border-radius: 0;
      border-top-right-radius: 8px;
    }

    .nav-item.radius-top-left {
      border-radius: 0;
      border-top-left-radius: 8px;
    }

    @include media-breakpoint-up(md) {
      .nav-item {
        width: auto;
      }

      .nav-link {
        font-size: 1rem;
        padding: 0 15px;
      }
    }
  }

  .tab-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: $white;
    min-height: 43px;

    .tab-pane__link {
      padding: 0 50px;
      border-left: 1px solid #dee2e6;
    }

    .navbar-nav {
      &__list {
        padding: 0 50px;
        display: flex;
        justify-content: flex-end;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 0;
          top: 25%;
          border: 2px solid #212529;
          transform: rotate(-45deg);
          border-top: transparent;
          border-right: transparent;
        }

        &:hover {
          &::before {
            transform: rotate(135deg);
            top: 35%;
          }

          .dropdown-custom {
            display: flex;
          }
        }

        .dropdown-custom {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 100%;
          right: 0;
          padding: 0 16px;
          text-align: right;
          z-index: 10;
          background-color: #ffffff;
          border-radius: 5px;

          .dropdown-item {
            position: relative;
            display: block;
            width: 100%;
            padding: 12px 0;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            font-size: 1rem;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              height: 1px;
              background: #f0f0f0;
            }
          }
        }
      }
    }
  }
}
