@import '../variables';

.btn-property-rent-mobile {
  width: 60%;
  height: 54px;

  border: none;
  background-color: $primary;
  color: #ffffff;

  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background: #359855;
  }

  i {
    font-size: .9em;
  }
}