@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.header {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;

  a {
    &:hover {
      path {
        fill: #33e56d;
      }
    }
  }

  &__nav,
  &__search {
    i,
    svg {
      font-size: 19px;
      width: 19px;
      height: 19px;
    }
  }

  &__nav {
    .lang-list {
      .icon-arrow-down-sign-to-navigate-3 {
        font-size: 10px;
        width: auto;
        height: auto;
      }

      .icon-language {
        top: -1px;
      }

      &[aria-expanded="true"] {
        .icon-arrow-down-sign-to-navigate-3 {
          transform: rotate(180deg);
          top: 0;
        }
      }
    }

    .dropdown-menu.languages {
      padding: 4px 16px;
      top: 10px !important;
      left: -10px !important;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      text-align: right;
      min-width: 107px !important;

      a {
        padding: 9px 0;
      }
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 24px;
      height: 20px;

      cursor: pointer;

      .line {
        width: 100%;
        height: 4px;
        background: #333333;
        border-radius: 1px;
      }
    }

    .btn-your-add {
      background: #3fb465;
      border-radius: 6px;
      width: 112px;
      height: 34px;
      color: $white;
      padding: 8px 11px 7px 16px;

      &:hover {
        background: #288C48;
      }

      span {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
      }

      i {
        width: auto;
        height: auto;
        font-size: 13px;
      }
    }
  }

  &__search {
    input:focus ~ .search-resault {
      display: flex;
    }

    .search-resault {
      display: none;
      position: absolute;
      align-items: flex-end;
      flex-wrap: nowrap;
      z-index: 5;
      max-height: 384px;
      overflow: hidden;
      overflow-y: auto;
      top: 100%;
      background-color: $white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      width: calc(100% - 1rem);
      
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;

      span {
        color: #808D98;
      }
    }

    .logo {
      &:hover {
        path {
          fill: black;
        }
      }

      &__image {
        svg {
          width: 44px;
          height: 44px;
        }

        @include media-breakpoint-down(lg) {
          svg {
            width: 28px;
            height: 28px;
          }
        }
      }

      &__section-name {
        font-weight: bold;
        font-size: 17px;
        line-height: 23px;
        color: $primary;

        @include media-breakpoint-down(lg) {
          font-size: 11px;
          line-height: 10px;
        }
      }

      &__text {
        svg {
          width: 102px;
          height: 22px;
        }

        @include media-breakpoint-down(lg) {
          svg {
            width: 75px;
            height: 13px;
          }
        }
      }
    }

    form .input-group {
      height: 51px;

      input {
        height: 100%;
      }

      @include media-breakpoint-down(lg) {
        height: 39px;
      }
    }

    .btn-on-search {
      width: 59px;

      @include media-breakpoint-down(lg) {
        width: 35px;

        i, svg {
          font-size: 14px;
          width: auto;
          height: auto;
        }
      }
    }
  }
}
