@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.header-property-type-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../assets/property-header-bg.png");
  background-attachment: fixed;
  background-size: 167% 35%;
  background-position-x: 60%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  min-height: 208px;

  .nav {
    flex-wrap: nowrap;

    .nav-item {
      width: 100%;
      border: none;
      border-radius: 0;
      min-height: 47px;
      background: linear-gradient(270deg, #34A65A -4.39%, #3FB365 100%);
    }

    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: $white;
      padding: 0 10px;
      font-size: 10px;
    }

    .nav-link.active {
      color: $black;
      background: $white;
    }

    .nav-item.radius-top-right{
      border-radius: 0;
      border-top-right-radius: 8px;
    }
  
    .nav-item.radius-top-left{
      border-radius: 0;
      border-top-left-radius: 8px;
    }

    @include media-breakpoint-up(md) {
      .nav-item {
        width: auto;
      }
      
      .nav-link {
        font-size: 1rem;
        padding: 0 15px;
      }
    }
  }

  .tab-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: $white;
    min-height: 43px;

    .tab-pane__link {
      padding: 0 50px;
      border-left: 1px solid #dee2e6;
    }
  }
}
