@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.header-property-type-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../assets/property-main-menu.png');
  min-height: 208px;

  .btn-menu-seacrh {
    border: none;
    width: 75px;
  }

  .active {
    color: #000000 !important;
    background: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
  }

  .btn-menu-property-section {
    min-width: 120px;
    height: 58px;
    box-shadow: inset -35px 0 34px -34px #368a50;
  }

  .selectpicker-border {
    border: none;
    border-right: 1px solid #dee2e6!important;
  }

  .bootstrap-select {
    .address {
      width: 100% !important;
      
       @include media-breakpoint-up(lg) {
          width: 300px !important;
        }
      }

    .typeBuilding {
      width: 100% !important;
      
      @include media-breakpoint-up(lg) {
        width: 330px !important;
      }
    }

    .filter-option {
      margin-right: 25px;
    }
  }

  .radius-top-right{
    border-radius: 0;
    border-top-right-radius: 8px;
  }

  .radius-top-left{
    border-radius: 0;
    border-top-left-radius: 8px;
  }

  .radius-bottom-left {
    border-radius: 0;
    border-bottom-left-radius: 8px;
  }

  .radius-bottom-right {
    border-radius: 0;
    border-bottom-right-radius: 8px;
  }

  .property-menu-with-icon {
    position: relative;

    .property-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translate(0, -50%);
      z-index: 9;
      font-size: 20px;
      color: #858585;
    }
  }
}