@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.auto-brand {
  color: #5a5a5a;
  background: #ffffff;
  height: 54px;
  border-radius: 8px;
  width: 100%;

  white-space: nowrap;

  @include media-breakpoint-up(lg) {
    white-space: initial;

    padding: 0 20px;
  }
}