@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.auto-step2 {
  padding: 0;

  @include media-breakpoint-up(md) {
    padding: 0 65px;
  }

  &__title {
    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }
  }

  .wrapper-brand-items {
    .form_radio_btn {
      width: 100%;
  
      label {
        width: 100%;
        padding-right: 5px;
      }

      @include media-breakpoint-down(md) {
        white-space: nowrap;
        width: fit-content;

        img {
          max-width: 25px;
          min-width: 22px;
        }
      }
    }
  }

  .row {
    margin: 0 -3px;
    
    .col {
      @include media-breakpoint-down(md) {
        padding-right: 3px;
        padding-left: 3px;
        max-width: fit-content;
      }
    }
  }

  .brand-filter {
    @include media-breakpoint-down(md) {
      label {
        width: 110px;
      }
    }
  }

  input {
    height: 54px;
    color: #5a5a5a;
  }
}