@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.product-card.product-line.auto-product-line {
  .image-block {
    padding: 0;

    .i-box {
      height: 100%;
      max-width: auto;

      @include media-breakpoint-down(md) {
        height: 138px;
      }
    }
  }

  .content-block {
    font-size: 13px;
    
    .title {
      text-transform: uppercase;
    }
    .location {
      svg {
        fill: #747474;
      }
    }
  }
}