@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.auto-product {
  .image-block {
    padding: 0 !important;

    .i-box {
      @include media-breakpoint-down(md) {
        height: 155px !important;
      }

      @include media-breakpoint-down(sm) {
        height: 112px !important;
      }
    }
  }

  .title {
    text-transform: uppercase;
    font-weight: 800;
  }

  .mileage,
  .location {
    font-size: 13px;
    color: #747474;

    svg, i {
      font-size: 16px;
      width: 16px;
      fill: #747474;
    }
  }

  // .image {
  //   position: relative;
  //   height: 112px;

  //   background-image: url('./assets/no-image.svg');

  //   margin-bottom: 20px;

  //   a {
  //     display: flex;
  //     justify-content: center;
  //     height: 100%;
  //   }

  //   img {
  //     position: absolute;
  //     display: block;
  //     width: 100%;
  //   }

  //   @include media-breakpoint-up(lg) {
  //     height: 180px;
  //   }
  // }

  // .like-and-price {
  //   position: absolute;
  //   transform: translate(0px, -50%);

  //   .like {
  //     width: 26px;
  //     height: 26px;
  //     border-radius: 4px;
      
  //     background: #f4f4f4;
  //     cursor: pointer;

  //     .iconLike  {
  //       width: 1rem;
  //     }
  //   }

  //   .price {
  //     padding: 5px 15px;
  //     border-radius: 4px;

  //     font-weight: 700;
      
  //     background: $primary;
  //     color: $white;
  //   }
  // }
}