@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.auto-product {
  .image-block {
    padding: 0 !important;

    .i-box {
      @include media-breakpoint-down(md) {
        height: 155px !important;
      }

      @include media-breakpoint-down(sm) {
        height: 112px !important;
      }
    }
  }

  .title {
    text-transform: uppercase;
    font-weight: 800;
  }

  .mileage,
  .location {
    font-size: 13px;
    color: #747474;

    @include media-breakpoint-down(md) {
      font-size: 10px;
    }

    svg, i {
      font-size: 16px;
      width: 16px;
      fill: #747474;

      @include media-breakpoint-down(md) {
        font-size: 11px;
      }
    }
  }
}