@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.marker {
  top: 0;
  right: 0;
  font-size: 13px;
  font-weight: 600;
  color: $white;
  height: 26px;

  .text {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .decor-rec {
    display: flex;
    flex-direction: column;
    border: transparent;

    .rec-top, .rec-bottom {
      border: calc(26px / 4) solid;
      border-color: inherit;
      border-left-color: transparent;
    }

    .rec-top {
      border-bottom-color: transparent;
    }
    
    .rec-bottom {
      border-top-color: transparent;
    }
  }

  @include media-breakpoint-down(md) {
    height: 19px;

    .text {
      padding: 0 .6rem;
      font-size: 10px;
    }

    .decor-rec {
      .rec-top, .rec-bottom {
        border: calc(19px / 4) solid;
        border-color: inherit;
        border-left-color: transparent;
      }

      .rec-top {
        border-bottom-color: transparent;
      }
      
      .rec-bottom {
        border-top-color: transparent;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    height: 22px;

    .text {
      padding: 0 .8rem;
    }

    .decor-rec {
      .rec-top, .rec-bottom {
        border: calc(22px / 4) solid;
        border-color: inherit;
        border-left-color: transparent;
      }

      .rec-top {
        border-bottom-color: transparent;
      }
      
      .rec-bottom {
        border-top-color: transparent;
      }
    }
  }
}