@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.marker {
  top: 0;
  right: 0;
  padding: 4px 10px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 600;
  color: $white;

  @include media-breakpoint-down(lg) {
    padding-left: 5px;
  }

  @include media-breakpoint-down(md) {
    padding: 2px 5px;
    font-size: 1rem;
  }

  &.stock {
    background: #F71A3F;

    &::before {
      border-color:#f71a3f;
    }
  }

  &.profitable {
    background: #3FD1FF;

    &::before {
      border-color:#3FD1FF;
    }
  }

  &.hot {
    background: #B637F2;

    &::before {
      border-color:#B637F2;
    }
  }

  &.urgently {
    background: #FF862F;

    &::before {
      border-color:#FF862F;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    
    top: 0;
    left: -19px;

    height: 100%;
    border-left-color: transparent !important;
    border-style: solid;
    border-width: 1em;

    @include media-breakpoint-down(lg) {
      left: -22px;
    }

    @include media-breakpoint-down(md) {
      left: -17px;
      border-width: 0.9em;
    }
  }
}