@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.product-card.product-line {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    flex-direction: column;

    .product-line__like {
      display: none;
    }
  }

  .card-link {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .image-block {
    border-left: 1px solid #e7e7e7;
    padding: 0.6rem;
    padding-bottom: 0.6rem;
    width: 33%;

    @include media-breakpoint-down(md) {
      padding: 0.6rem;
      padding-bottom: 1.4rem;
      width: 100%;
    }

    .i-box {
      width: 100%;
      height: 158px;

      @include media-breakpoint-down(lg) {
        height: 128px;
      }

      @include media-breakpoint-down(md) {
        height: 94px;
      }
    }
  }

  .like-price {
    position: absolute;
    left: 0;
    top: 25px;

    .like {
      display: none;
    }

    .price {
      width: auto;
      background-color: transparent;
      color: $primary;
      font-size: 15px;
    }

    @include media-breakpoint-down(md) {
      position: static;

      .like {
        display: flex;
      }

      .price {
        background-color: $primary;
        color: $white;
        font-style: 12px;
        padding: 0 1rem;
      }
    }
  }

  .content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72%;
    padding: 10px 0;
    padding-top: 20px;

    .title {
      max-width: 350px;
      font-weight: 800;
      font-size: 15px;
      line-height: 21px;
      margin-left: auto;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      padding-top: 0;
    }
  }

  &__data-viwe {
    padding: 0.5rem 0 !important;
  }
}



// .product-line {
//   position: relative;

//   &__info {
//     padding-bottom: 35px;
//   }

//   .card-body {
//     @include media-breakpoint-up(lg) {
//       border-right: 1px solid #e7e7e7;
//     }
//   }

//   .card-price {
//     font-weight: bold;
//     font-size: 20px;
//   }

//   .card-title {
//     font-size: 20px;
//     margin-bottom: 20px;
//     color: #373737;
//   }

//   .like {
//     cursor: pointer;

//     &:hover {
//       i {
//         color: red;
//       }
//     }
//   }

//   .active {
//     i {
//       color: red;
//     }
//   }

//   .image-box {
//     border-bottom: 1px solid #dee2e6;

//     @include media-breakpoint-up(lg) {
//       border-bottom: none;
//     }
//   }

//   @include media-breakpoint-down(lg) {
//     &__info {
//       padding-bottom: 20px;
//     }

//     .card-title {
//       overflow: hidden;
//       text-overflow: ellipsis;
//       display: -moz-box;
//       -moz-box-orient: vertical;
//       display: -webkit-box;
//       -webkit-line-clamp: 2;
//       -webkit-box-orient: vertical;
//       line-clamp: 2;
//       box-orient: vertical;
//     }
//   }
// }

// .followThisItem {
//   position: absolute;
//   right: 15px;
//   top: 15px;

//   border: transparent;
//   border-radius: 4px;

//   width: 32px;
//   height: 32px;

//   background: #f4f4f4;
//   cursor: pointer;

//   svg {
//     margin-bottom: -4px;
//     margin-left: -1px;
//   }
// }