@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.dg-pink, &.card.bg-pink {
    background-color: $pink;
  }
  
  a:hover {
    color: $black;
  }

  .image-block {
    background-color: $white;
    border-bottom: 1px solid #E7E7E7;
    padding: 1rem;
    padding-bottom: 1.4rem;
    
    .i-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 148px;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        height: 110px;
      }

      @include media-breakpoint-down(sm) {
        height: 92px;
      }

      a {
        width: 100%;
        height: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        background-color: $white;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          z-index: 1;
          display: flex;
          background-color: #EEEDED;
          background-image: url('../assets/no-image.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    padding: 0;
    
    background: #F4F4F4;
    border-radius: 4px;

    position: relative;
    top: -15px;
    
    padding-right: 2px;

    @include media-breakpoint-down(lg) {
      top: -10px;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 25px;
    color: $white;
    font-weight: 600;

    background-color: #3FB465;
    border-radius: 4px;
    padding: 0;

    position: relative;
    top: -15px;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
      top: -10px;
    }
  }

  .views,
  .date {
    font-size: 13px;
    line-height: 18px;

    @include media-breakpoint-down(lg) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  .views {
    padding-top: 1px;
  }

  .content-block {
    min-height: 131px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    svg {
      width: 14px;
    }

    .category, .location {
      overflow: hidden;
      max-height: 1.3rem;
      
      @include media-breakpoint-down(lg) {
        max-height: 1.6rem;
      }
    }

    .title {
      font-weight: 800;
      font-size: 13px;
      text-transform: uppercase;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;

      @include media-breakpoint-down(lg) {
        font-size: 12px;
        text-transform: capitalize;
        -webkit-line-clamp: 1;
        line-clamp: 1;
      }
    }

    .location {
      position: relative;
      padding-right: 24px;
      text-overflow: clip;

      @include media-breakpoint-down(md) {
        padding-right: 16px;
      }
      
      .addres {
        text-overflow: clip;

        @include media-breakpoint-down(md) {
          font-size: 10px;
        }
      }

      .icon-local {
        position: absolute;
        top: 2px;
        right: 1px;

        @include media-breakpoint-down(md) {
          width: 11px;
          right: 0;
        }
      }
    }

    .mileage {
      font-size: 1rem;
    }

    .category {
      font-weight: 400;
      font-size: 13px;

      @include media-breakpoint-down(lg) {
        font-size: 12px;
      }

      @include media-breakpoint-down(md) {
        font-size: 10px;
      }
    }
  }

  .marker {
    position: absolute;
    top: 12px;
    right: 0;

    @include media-breakpoint-down(lg) {
      top: 9px;
    }
  }
}