@import '../variables';
@import "node_modules/bootstrap-scss/mixins";


.product-card.property-product {
  .image-block {
    padding: 0;
  }

  .content-block {
    .title {
      font-weight: 800;
      text-transform: uppercase;
      font-size: 13px;

      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }

    .location {
      svg {
        fill: #747474;
      }
    }
  }

  .marker {
    top: 10px;
  }
}
// TODO
// .property-product-block {
//   .like-and-price {
//     position: absolute;
//     transform: translateY(-50%);

//     .like {
//       position: relative;
//       border: transparent;
//       border-radius: 4px;
//       width: 32px;
//       height: 32px;
//       background: #f4f4f4;
//       cursor: pointer;

//       .iconLike {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -9px);
//       }
//     }

//     .price {
//       background: $primary;
//       border-radius: 4px;
//       font-size: 1em;
//       font-weight: 700;
//       color: #ffffff;
//     }
//   }

//   .image {
//     position: relative;

//     img {
//       min-height: 180px;
//     }

//     @include media-breakpoint-up(lg) {
//       img {
//         min-height: 225px;
//       }
//     }
//   }

//   .description-item__title {
//     @include media-breakpoint-up(lg) {
//       font-size: .95em;
//     }
//   }
// }