@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.description-item {
  &__loaction {
    .icon-local-block {
      position: relative;
      top: 2px;
  
      width: 16px;
      height: 20px;
  
      path {
        fill: #747474;
      }
    }
  }
}
