@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.vip-card-block {
  position: relative;
  border: 2px solid #3fb465;

  .card-item-product__gray-line {
    background: #3fb465;
    height: 2px;
  }

  .vip-section {
    border-bottom: none !important;

    @include media-breakpoint-up(lg) {
      border-bottom: 1px solid #3fb465 !important;
    }
  }

  .vip-icone {
    display: block !important;
    position: absolute;
    
    top: 5px;
    right: 10px;

    font-size: 36px;

    @include media-breakpoint-up(lg) {
      top: 15px;
      right: 20px;
    }
  }
}