$body-bg:                 #f5f5f5;

$green:                   #3fb465;
$primary:                    $green;
$light-green:             #33e56d;
$orange:                  #ff8400;
$white:                   #ffffff;
$secondary:               #c4c4c4;
$light-gray:              #e7e7e7;

// status color
$online-status-color:     #00ae10;
$offline-status-color:    #b8b8b8;

$status-online: $online-status-color;

$font-family-sans-serif:   'Open Sans', sans-serif;
$font-weight-bolder:        900;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$dropdown-link-hover-color:   $light-green;
$dropdown-link-hover-bg:      $white;

$dropdown-link-active-color:  $light-green;
$dropdown-link-active-bg:     $white;

$breadcrumb-bg:               transparent;
$breadcrumb-divider:          quote("•");

$link-color:                #000;
$link-hover-color:            $light-green;
$link-hover-decoration:       none;

$input-placeholder-color:   #000;

$border-radius:               8px;
$modal-content-border-radius: 8px;

$carousel-control-width:      10%;

$input-btn-focus-width:       0;

$pagination-hover-color:    #fff;
$pagination-hover-bg:         $light-green;

$box-shadow: 12px 19px 40px -13px #302d2d40;

$grid-gutter-width: 30px;
$grid-gutter-width-mobile: 20px;