@import "variables";
@import "node_modules/bootstrap-scss/mixins";

.auto-mark-list {
  padding-top: 31px;
  padding-bottom: 31px;
  padding-right: 63px;
  padding-left: 20px;

  a {
    i.icon-arrow-down-sign-to-navigate-3 {
      font-size: 13px;
      font-weight: 700;
      transform: rotate(180deg);
    }
  }

  a.collapsed {
    i.icon-arrow-down-sign-to-navigate-3 {
      transform: rotate(0deg);
    }
  }

  ul {
    li {
      width: 25%;
      font-size: 13px;
      margin-bottom: 1em;

      

      a {
        font-size: 13px;
        line-height: 18px;
        color: #444444;
      }

      @include media-breakpoint-down(md) {
        width: 50%;

        a {
          font-style: 10px;
        }
      }

      a:hover {
        border-bottom: 1px solid #33e56d;
        color: #33e56d;

        span {
          color: #33e56d;
        }
      }

      a span {
        color: #999999;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 25px 22px;
  }
}