@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import "variables";

@import "node_modules/bootstrap-scss/mixins";
@import "node_modules/bootstrap-scss/bootstrap";

i {
  position: relative;
  top: 1px;
}

a {
  cursor: pointer;
}

p {
  letter-spacing: -0.7px;
  line-height: 26px;
}

input,
textarea {
  text-align: right;

  &::placeholder {
    text-align: right;
  }
}

textarea {
  border-color: #ced4da;

  &:focus {
    border-color: #ced4da;
  }
}

@include media-breakpoint-between(xs, md) {
  .row {
    margin-right: -$grid-gutter-width-mobile / 2;
    margin-left: -$grid-gutter-width-mobile / 2;

    & > .col,
    & > [class*="col-"] {
      padding-right: $grid-gutter-width-mobile / 2;
      padding-left: $grid-gutter-width-mobile / 2;
    }
  }
}

.card {
  box-shadow: $box-shadow;
}

.dropdown-menu {
  border: none;
}

.max-text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.breadcrumb-beckground {
  position: relative;
  padding-bottom: 40px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    
    width: 100%;
    height: calc(100% + 33px);
    
    top: -33px;
    left: 0;

    background: #fff;
  }

  @media (max-width: 991px) {
    padding-bottom: 0;

    &::before {
      height: calc(100% + 20px);
      top: -20px;
    }
  }
}

.btn-secondary {
  color: #ffffff;
}

.logo {
  max-width: 180px;
}

.main-card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.footer{
  background: #fff;
}