.connection-with-seller {
  padding: 30px;

  button {
    padding-left: 15px;
    padding-right: 15px;
    
    line-height: 40px;
    border-radius:  4px;
  }

  &__title {
    font-size: 28px;
    font-weight: 900;
  }

  &__price {
    font-size: 32px;
    font-weight: bold;
  }
}