@import "variables";
@import "node_modules/bootstrap-scss/mixins";

.form-control-select {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  width: 100% !important;
  height: 54px;

  .filter-option {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    text-align: right !important;
  }

  &::after {
    border: none;
    font-family: 'icomoon';
    content: "\e904";
  }
}