#carouselExampleInterval {
  .carousel-item {
    max-height: 380px;
    border-radius: 6px;
    overflow: hidden;
  }
}

.btn-slider-link {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 80%;
  right: 10%;
  pointer-events: auto;

  width: 245px;
  height: 45px;
}

@media (max-width: 991px) {
  .disable-on-mobile {
    display: none;
  }
}