.btn-slider-link {
  position: absolute;
  top: 80%;
  right: 10%;
  pointer-events: auto;

  width: 285px;
  height: 54px;

  padding-top: 1.1%;
}

@media (max-width: 991px) {
  .disable-on-mobile {
    display: none;
  }
}