.page-link {
  position: relative;
  display: block;
  padding: 1.1rem 1.4rem;
  margin-right: 10px;
  line-height: 1.25;
  color: #fff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background: #3fb465;
  font-weight: bold;
}