@import './variables';
@import "node_modules/bootstrap-scss/mixins";

.pagination {
  $width: 32px;
  $height: 32px;
  $radius: 3px;

  display: flex;
  height: $height;
  
  ul {
    list-style: none;
    height: $height;
  }

  &__list-item {
    width: $width;
    height: $height;
  
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: $radius;
    
    font-size: 14px;
    font-weight: 400;
    background: #3fb465;
    cursor: pointer;

    &:hover {
      background-color:#33e56d;
    }

    a {
      color: #fff;
    }
  }

  .dots {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 12px;
    
    span {
      width: 2px;
      height: 2px;
      background-color: #9A9A9A;
    }
  }

  &__list-item.active {
    border: 2px solid #3fb465;
    background-color: $white;
    
    a {
      color: #3fb465;
      font-weight: 600;
    }
  }

  .prev,
  .next {
    width: $width;
    height: $height;
    border-radius: $radius;
    border: transparent;

    background: #3fb465;

    img {
      width: 11px;
    }

    &:hover {
      background-color:#33e56d;
    }
  }

  .next {
    img {
      transform: rotate(180deg);
    }
  }
}