.pagination {
  height: 100%;

  .page-item {
    width: 54px;
    height: 100%;
  
    .page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      
      height: 100%;
      width: 100%;
    
      border-radius: 8px;
      
      font-size: 18px;
      color: #fff;
      background: #3fb465;

      &:hover {
        background-color:#33e56d;
      }
    }
  }
}