@import './variables';
@import "node_modules/bootstrap-scss/mixins";

.property-full-map {

  .map-box {
    width: 65%;
    height: 785px;
    float: left;

    @include media-breakpoint-down(lg) {
      width: 100%;
      height: 390px;
      margin-top: 80px;
      margin-bottom: 20px;
    }
  }

  .products-sort {
    height: auto;
    background-color: $white;
    position: absolute;
    z-index: 1;
    padding: 0 20px;
    width: 35%;

    @include media-breakpoint-down(lg) {
      width: 100%;
      background-color: transparent;
      padding-right: 15px;
    }

    .btn-closer {
      font-size: 16px;

      i:before {
        color: #626262;
      }
    }
    
    &__button {
      width: auto;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #999999;

      span {
        color: $black;
        font-size: 13px;
        font-weight: 700;
        margin: 0 10px;
      }

      svg {
        min-width: 21px;
      }
    }
  }

  .cord-container {
    height: 100%;
    max-height: 785px;
    width: 35%;
    overflow: hidden;
    overflow-y: auto;
    background-color: $white;
    padding-top: 70px;
    position: relative;

    @include media-breakpoint-down(lg) {
      width: 100%;
      padding-top: 30px;
      max-height: fit-content;
      padding-bottom: 20px;
    }

    .cord_pagination {
      position: sticky;
      bottom: 0;
      background: white;
      padding: 11px 10px;
    }

    .filter {
      display: none;
    }

    &.overlay {
      overflow: hidden;

      .cord_pagination {
        z-index: -1;
      }

      .filter {
        position: absolute;
        display: block;
        z-index: 9;
        max-width: 60%;
        right: 0;
        top: 5%;
        height: 100%;
        max-height: 80%;
        overflow-y: auto;

        @include media-breakpoint-down(lg) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 100%;
        }

        .btn-more-filter-settings {
          display: flex;
          width: calc(100% + 3rem);
          justify-content: center;
          position: relative;
          left: -1.5rem;
          top: 1.5rem;
          margin: 0;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        .menu-closer {
          display: flex;
        }
      }

      .full-scrin-filter {
        width: 100%;
        height: 800px;
        position: absolute;
        background: rgba(96, 95, 95, .53);
        top: 0;
        left: 0;
        z-index: 6;
  
        @include media-breakpoint-down(lg) {
          position: fixed;
          height: 100%;
          z-index: 10;
        }
        
        #filterModalContent {
          padding-top: 0 !important;
        }

        .menu-closer {
          position: sticky;
          top: 0;
          left: 0;
          width: 100%;
          padding: 15px 0;
          z-index: 5;
          background: white;

          @include media-breakpoint-down(lg) {
            position: static;
          }
        }
      }
    }

    .product-card {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      font-size: 12px;

      .content-block {
        font-size: 12px;
        
        .title {
          font-size: 13px;
          text-transform: capitalize;

          @include media-breakpoint-down(lg) {
            font-size: 11px;
          }
        }

        p {
          max-width: 80%;
          margin-left: auto;
        }
      }
    }
  }
}