@import 'variables';

.user-profile-menu {
  padding: 28px 20px;

  li {
    list-style: none;
    text-align: right;

    padding: 18px 0;
  }

  &__list {
    font-size: 17px;
    font-weight: 900;

    line-height: 24px;

    border-bottom: 1px solid #e7e7e7;

    a {
      color: #373737;
  
      &:hover {
        color: #6bea90;
      }
    }

    &.active > a {
      color: #000;
    }
  }
}