@import './variables';
@import "node_modules/bootstrap-scss/mixins";

.vip-items-slider {
  .slick-slide {
    margin: 15px;
  }

  .prev,
  .next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;

    img {
      width: 12px;
    }
  }

  .prev {
    left: -50px;
    transform: rotate(180deg);
  }

  .next {
    right: -50px;
  }
}