@import './variables';
@import "node_modules/bootstrap-scss/mixins";

.vip-items-slider {
  margin-bottom: 42px;

  @include media-breakpoint-down(md) {
    margin-bottom: 35px;
  }
  
  .slick-slide {
    margin: 15px;
  }

  .prev,
  .next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;

    img {
      width: 12px;
    }

    @include media-breakpoint-down(md) {
      width: auto;
    }
  }

  .prev {
    left: -50px;
    transform: rotate(180deg);
    
    @include media-breakpoint-down(md) {
      left: -10px;
    }
  }

  .next {
    right: -50px;
    
    @include media-breakpoint-down(md) {
      right: -10px;
    }
  }
}