@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.select-tarif {
  .title {
    text-align: right;
    font-weight: 600;
    letter-spacing: -0.06em;
    font-size: 12px;
    line-height: 16px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .text-subtitle {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.06em;

    @include media-breakpoint-up(md) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .custom-radio-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 13px;
    line-height: 18px;

    padding-right: 26px;
    margin-bottom: 0;

    user-select: none;
    cursor: pointer;

    input {
      position: absolute;
      width: 150%;
      height: 100%;
      left: -50%;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .checkbox:after {
        display: block;
      }
    }

    .checkbox {
      position: absolute;
      top: 10px;
      right: 10px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border: 1px solid #777777;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    & .checkbox:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: $primary;
    }
  }
}
