@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.wallet-history {
  .card {
    padding: 20px;
    @include media-breakpoint-up(lg) {
      padding: 30px;
    }
  }

  button {
    min-width: 92px;
    height: 34px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    @include media-breakpoint-up(lg) {
      min-width: 110px;
    }
  }

  input {
    padding-right: 2px;
  }

  .w-100-mobile {
    @include media-breakpoint-down(md) {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }

  p {
    @include media-breakpoint-down(md) {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.06em;
    }
  }

  .wallet-balance-name {
    font-size: 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 24px;
    color: #373737;
    text-align: center;
    
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .currency-sign {
    font-size: 24px;
  }

  .current-balance {
    &__my-balance {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .icon-crown,
    .icon-wallet-3 {
      font-size: 33px;
    }

    .conversion-booth {
      height: 48px;

      .input-group {
        height: 100%;
        max-width: 100px;

        input {
          height: 100%;
        }
  
        input.form-control::placeholder {
          text-align: center;
        }
  
        .input-group-text {
          font-weight: 700;
          color: #373737;
          background-color: #fff;
        }
      }
    }

    .state-of-an-account {
      color: $primary;
    }
  }

  .purchase-history {
    &__name,
    &__date {
      font-weight: 700;
      color: #373737;
    }
  }
}