@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.user-vip {
  padding: 10px 5px 0px 5px;

  @include media-breakpoint-up(lg) {
    padding: 20px 20px 0px 20px;
  }

  .vip-benefit {
    color: $secondary;
  }

  .active {
    color: #212529;

    .icon-check-1 {
      color: $primary;
    }
  }

  .fluid-gray-line {
    position: absolute;
    bottom: 1px;
    left: -20px;
    height: 1px;
    width: calc(100% + 40px);
    background: #e7e7e7;
  }

  &__image {
    margin-bottom: 10px;
  }
  
  &__title {
    font-size: 28px;
    line-height: 24px;
    color: #373737;
  }

  &__price {
    font-size: 20px;
  }

  &__button-buy-tariff {
    padding: 20px 0;
    border-radius: 0 0 8px 8px;
  }
}