@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.user-add-item {
  input {
    height: 54px;
  }

  input::placeholder,
  textarea::placeholder {
    color: #5a5a5a;
  }

  label,
  .name-photo-section {
    font-size: 16px;
    font-weight: bold;
  }

  .label__name {
    text-align: right;

    @include media-breakpoint-up(lg) {
      text-align: start;
    }
  }

  &__photo {
    .box-label-photo {
      overflow: hidden;
    }
    
    label {
      justify-content: flex-end;
      display: flex;
    }

    .add-item-photo {
      width: 65px;
      height: 65px;

      @include media-breakpoint-up(lg) {
        width: 100px;
        height: 100px;
      }

      i {
        font-size: 39px;
      }

      border: 1px solid #f3f3f3;
      border-radius: 4px;

      cursor: pointer;

      &:hover {
        color: $primary;
        border: 1px solid $primary;
      }
    }

    input {
      visibility: hidden;
    }
  }
}

@include media-breakpoint-down(lg) {
  .card.user-add-item {
    background-color: transparent;
    border: transparent;
    box-shadow: none;

    .user-add-item__photo {
      .add-item-photo {
        width: 60px;
        height: 60px;
        background-color: #ffffff;

        i {
          font-size: 1.7em;
        }
      }
    }
  }
}