@import "../variables";
@import "node_modules/bootstrap-scss/mixins";

.product-card.product-line.user-product {
  overflow: inherit;

  .card-link {
    flex-direction: row-reverse;
  }

  button {
    height: 38px;
  }

  .btn-accelerate-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 100%;

    svg {
      width: 19px;
      margin-right: 1.2rem;
    }

    @include media-breakpoint-up(lg) {
      width: 235px;

      svg {
        width: 30px;
      }
    }
  }

  .content-block {
    padding: 1.3rem;
    padding-bottom: 0;

    .title {
      font-weight: 800;
      text-align: right;
      letter-spacing: 0.02em;
      font-size: 12px;
      line-height: 143.18%;

      @include media-breakpoint-up(lg) {
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
      }
    }

    .price {
      justify-content: flex-end;
      font-size: 12px;
      line-height: 16px;
      position: static;

      color: $primary;
      font-weight: bold;

      border: none;
      background-color: transparent;

      @include media-breakpoint-up(lg) {
        justify-content: flex-start;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  .controls-rise-item {
    position: absolute;
    right: 10px;
    top: 35px;

    .item {
      background-color: $white;
      padding: 3px 5px;
      border-radius: 3px;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        svg {
          transform: scale(1.1);
        }
      }

      svg {
        width: 15px;
      }
    }
  }

  .rise-btn {
    position: absolute;
    top: -10px;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $primary;
    color: $white;

    max-width: 116px;
    border-radius: 23.5px;
    padding: 6px 9px;

    @include media-breakpoint-up(lg) {
      right: -12px;
    }

    .up {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: $white;
      color: $primary;
      font-weight: bold;
      font-size: 11px;
      line-height: 143.18%;
    }
  }

  .image-block {
    width: 33%;

    .i-box {
      height: 100%;
    }

    @include media-breakpoint-down(lg) {
      padding: 0;
      width: 45%;
    }
  }

  .user-product__btn-edit {
    color: #3fb465;
    font-weight: 900;

    border: 2px solid #3fb465;
    border-radius: 4px;

    cursor: pointer;
    width: 100%;

    &:hover {
      color: $primary;
    }

    @include media-breakpoint-up(lg) {
      width: 130px;
    }
  }

  .user-product__up-product {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $primary;
    color: $white;
    font-size: 11px;

    span {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover {
      background: #359855;
    }
  }

  .up-date {
    font-size: 13px;
    line-height: 143.18%;
    text-align: right;
    letter-spacing: -0.04em;
    color: #888888;
  }
}
