@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.wallet-history {
  button {
    min-width: 160px;
    min-height: 48px;
    border-radius: 4px;
  }

  .wallet-balance-name {
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 24px;
    color: #373737;
    text-align: center;
    
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .currency-sign {
    font-size: 24px;
  }

  .current-balance {
    &__my-balance {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .icon-crown,
    .icon-wallet-3 {
      font-size: 33px;
    }

    .conversion-booth {
      height: 48px;

      .input-group {
        height: 100%;
        max-width: 100px;

        input {
          height: 100%;
        }
  
        input.form-control::placeholder {
          text-align: center;
        }
  
        .input-group-text {
          font-weight: 700;
          color: #373737;
          background-color: #fff;
        }
      }
    }

    .state-of-an-account {
      color: $primary;
    }
  }

  .card {
    padding: 30px;
  }

  .purchase-history {
    &__name,
    &__date {
      font-weight: 700;
      color: #373737;
    }
  }
}