@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.user-profile-menu {
  padding: 28px 20px;

  li {
    list-style: none;
    text-align: right;

    padding: 1rem 0;
  }

  &__list {
    font-size: 17px;
    font-weight: 700;

    line-height: 24px;

    border-bottom: 1px solid #e7e7e7;

    a {
      color: #373737;
  
      &:hover {
        color: #6bea90;
      }
    }

    &.active > a {
      color: #000;
    }
  }
}

.user-profile-menu__header {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 89px;
  left: -1000%;
  width: 100%;
  background: white;
  z-index: 19;
  transition: linear .2s;

  &.active {
    left: 0;
    position: fixed;
  }

  @include media-breakpoint-up (md) {
    &.active {
      left: 0;
    }
  }
  @include media-breakpoint-up (lg) {
    width: fit-content;
    
    &.active {
      left: 15px;
    }
  }

  @include media-breakpoint-up (xl) {
    display: none;
  }
}