@import '../variables';
@import "node_modules/bootstrap-scss/mixins";

.propert-sell-main {
  position: relative;
  padding: 20px;

  @include media-breakpoint-up(lg) {
    padding: 30px;
  }

  &__header {
    padding-bottom: 26px;
    margin-bottom: 38px;
  }

  &__step-control {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      
      width: 170px;
      height: 54px;

      text-transform: uppercase;
      font-weight: bold;

      background: #898989;
      color: #ffffff;

      @include media-breakpoint-up(lg) {
        width: 285px;
      }
    }

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    .btn-icon {
      display: block;

      font-size: 11px;
      margin-right: 5px;
      transform: rotate(180deg);
    }
  }
}

.step {
  &__icone {
    font-size: 40px;
    color: #bababa;
  }

  &.active {
    font-weight: 700;

    .step__title {
      font-weight: bold;
    }

    .step__subtitle {
      color: $light-green;
    }
  
    .step__icone {
      color: $light-green;
    }
  }

  &.completed {
    .step__subtitle {
      font-weight: bold;
      color: $light-green;
    }
  }
}
